.borderBtn {
    position: relative;

    padding: 15px 35px;
    border: 2px solid $dark-green;

    background-color: transparent;
    text-transform: uppercase;
    font-weight: 600;

    color: $pre-black;

    transition: all $t-normal linear;

    &:before {
        @mixin wh 0, 100%;

        content: "";

        position: absolute;
        left: auto;
        right: 0;
        top: 0; 

        background-color: $dark-green;

        transition: all $t-normal linear;
        z-index: -1;
    }

    &:hover {
        color: $white;

        &:before {
            left: 0;

            width: 100%;
        }
    }
}