.header {
    @mixin pos-0 fixed;
    @mixin wh 100%, auto;

    background-color: $white;

    z-index: $z-over;

    &__menuBtn {
        @mixin wh 55px, 55px;

        position: relative;

        display: none;

        background-color: black;

        @media (max-width: $mobile-point) {
            display: block;
        }

        &:focus:after {
            top: 25px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);
        }

        &:focus:before {
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%) rotate(-45deg);
        }

        &:after, &:before {
            @mixin wh 80%, 5px;

            content: "";

            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            background-color: $white;

            transition: all $t-normal ease;
        }

        &:after {
            top: 15px;
        }

        &:before {
            bottom: 15px;   
        }
    }

    &__logoGroup {
        @mixin flex-box row, space-between, center;

        text-transform: capitalize;

        @media (max-width: $mobile-point) {
            padding: 0 $p-normal;
            width: 100%;
        }
    }

    &__nav {
        @mixin flex-box row, center, center;

        white-space: nowrap;
        word-break: none;
        
        overflow: hidden;
        transition: all $t-normal ease;

        @media (max-width: $mobile-point) {
            position: absolute;
            top: 90px;

            width: 100%;
            flex-direction: column;
            padding: 15px 0;

            background: $white;

            transform: translateY(-200%);
            z-index: -1;
        }
    }

    &__navItem {
        position: relative;

        margin: 0 $m-normal;
        box-sizing: content-box;
        padding-bottom: 5px;

        background-color: transparent;
        font-size: $pre-medium;
        letter-spacing: .05rem;
        text-align: center;
        text-transform: capitalize;
        font-weight: 600;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            @mixin wh 0, 2px; 

            content: "";

            position: absolute;
            left: auto;
            right: 0;
            bottom: 0;

            border-radius: 10px;

            background-color: $pre-black;

            transition: all $t-normal linear;
        }

        &:hover:before {
            left: 0;

            width: 100%;
        }

        @media (max-width: $mobile-point) {
            margin: {
                bottom: $m-normal;
                left: 0;
                right: 0;
            }
        }
    }

    &__wrapper {
        @mixin flex-box row, space-between, center;
        @mixin wh 100%, auto;

        max-width: $m-size;
        padding: $p-15 $p-normal;
        margin: auto;

        font-family: 'Open Sans';

        @media (max-width: $mobile-point) {
            flex-direction: column;
            padding: {
                left: 0;
                right: 0;
            }
        }
    }
    
}