.header {
    @mixin pos-0 fixed;
    @mixin wh 100%, auto;

    background-color: $white;

    z-index: $z-over;

    &__logoGroup {
        @mixin flex-box row space-between center;

        text-transform: capitalize;

        @media (max-width: $mobile-point) {
            padding: 0 $p-normal;
            width: 100%;
        }
    }

    &__nav {
        @mixin flex-box row center center;

        text-transform: capitalize;
        font-weight: 600;
        white-space: nowrap;
        word-break: none;
        
        overflow: hidden;

        @media (max-width: $mobile-point) {
            flex-direction: column;
            height: 0;
        }
    }

    &__navItem {
        position: relative;

        margin: 0 $m-normal;
        box-sizing: content-box;
        padding-bottom: 5px;

        font-size: $pre-medium;
        letter-spacing: .05rem;
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            @mixin wh 0, 2px; 

            content: "";

            position: absolute;
            left: auto;
            right: 0;
            bottom: 0;

            border-radius: 10px;

            background-color: $pre-black;

            transition: all $t-normal linear;
        }

        &:hover:before {
            left: 0;

            width: 100%;
        }

        @media (max-width: $mobile-point) {
            margin: {
                bottom: $m-normal;
                left: 0;
                right: 0;
            }
        }
    }

    &__wrapper {
        @mixin flex-box row, space-between, center;
        @mixin wh 100%, auto;

        max-width: $m-size;
        padding: $p-15 $p-normal;
        margin: auto;

        font-family: 'Open Sans';

        @media (max-width: $mobile-point) {
            flex-direction: column;
            padding: {
                left: 0;
                right: 0;
            }
        }
    }
    
}