.iconCircle {
    @mixin wh 100%, auto;
    @mixin flex-box column, flex-start, center;

    font-family: 'Open Sans';

    &__img {
        @mixin wh 100px, 100px;
        @mixin flex-box row, center, center;

        border-radius: 100%;
        margin-bottom: 30px;

        background-color: $blue;

        & > img {
            @mixin wh 60px, 60px;

            display: block;

            object-fit: contain;
        }
    }

    &__text {
        @mixin flex-box column, center, flex-start;

        color: $white;
        text-align: center;
        font-weight: 600;
        line-height: $large;
        font-size: $medium;
    }
}