.materialBtn {
    display: inline-block;
    padding: 20px 45px;

    font: bold 1rem 'Roboto';
    text-transform: uppercase;
    letter-spacing: .05rem;

    transition: all $t-normal linear;
    outline: none;

    &_style1 {
        border: 3px solid $white;

        &:hover {
            background-color: white;
            color: $pre-black; 
        }
    }

    &_styleBlack1 {
        border: 3px solid $pre-black;
        
        color: $pre-black; 

        &:hover {
            border-color: $dark-green;

            background-color: $dark-green;
            color: $white;
        }
    }

    &_style2 {
        border: 3px solid $dark-green;

        background-color: $dark-green;
        color: $white;

        &:hover {
            background-color: transparent;
            color: $dark-green;
        }
    }
}