.materialForm {
    @mixin flex-box column, center, stretch;
    @mixin wh 100%, auto;

    font-family: 'Open Sans';
    font-size: $pre-medium;

    &__inputs {
        @mixin flex-box row, space-between, center;

        margin-bottom: 30px;

        @media (max-width: $mobile-point) {
            flex-direction: column;
        }
    }

    &__input {
        @mixin wh 100%, auto;

        padding: 30px 15px;
        margin-right: 30px;

        @media (max-width: $mobile-point) {
            margin: 0;
            margin-bottom: 30px;
        }
    }

    &__input:last-child {
        margin: {
            right: 0;
            bottom: 0;
        };
    }

    &__area {
        @mixin flex-box column, flex-start, flex-end;

        @media (max-width: $mobile-point) {
            align-items: center;
        }
    }

    &__textarea {
        @mixin wh 100%, auto;

        padding: 30px 15px;
        
        resize: none;
    }

    
    &__btn {
        padding: {
            left: 80px !important;
            right: 80px !important;
        };
        margin-top: 30px !important;
        border: 2px solid transparent;
        border-radius: 10px;

        background-color: $white;

        &:hover {
            border-color: $white;
            
            background-color: transparent;
            color: $white;
        }
    }

    &__textarea, &__input {
        border-radius: 10px;
        border: 2px solid transparent;

        font-weight: 600;
        
        outline: none;
        transition: all $t-normal linear;

        &:focus {
            border-color: $white;

            background-color: transparent;
            color: $white;
        }
    }
}