.priceCard {
    @mixin flex-box column, center, center;
    @mixin wh 100%, auto;

    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: $white;

    transition: all $t-normal linear;

    & > *:not(.priceCard__btn) {
        @mixin wh 100%, auto;
    }

    &:hover {
        box-shadow: 0 0 20px 2px rgba(0, 0, 0, .3);
    }
    
    &__price {
        @mixin flex-box column, center, center;
        
        position: relative;

        padding: 55px 0;

        color: $white;
        background-color: $blue;

        &:before {
            @mixin wh 100%, 45px;;

            content: "";

            position: absolute;
            bottom: -20px;
            left: 0;

            background-color: $white;

            transform: skew(0, -5deg);
        }
    }

    &__title, &__price {
        font-weight: 400;
    }

    &__title {
        margin-bottom: 25px;

        text-transform: capitalize;
        letter-spacing: .1rem;
    }

    &__subtitle {
        position: relative;

        font-size: $medium;
    }

    &__desc {
        @mixin flex-box column, center, center;

        margin: 40px 0;
        padding: 0 15px;

        list-style: none;
    }

    &__descItem {
        position: relative;

        padding: 15px 0;

        text-transform: capitalize;
        color: $pre-black;
        font-weight: 200;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &:before {
            @mixin wh 150%, 1px;

            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            content: "";

            background-color: $pre-gray;
        }
    }

    &__btn {
        margin-bottom: 55px;
    }
}