.sectionIndexTitle {
    @mixin flex-box column, center, center;

    color: $white;
    text-align: center;
    font-family: 'Open Sans';

    &__title {
        font-size: $mega-large;
    }

    &__subtitle {
        font-size: $medium;
    }

    &__arrow {}
}