.verticalCard {
    @mixin flex-box column, center, center;

    text-align: center;
    font-family: 'Open Sans', sans-serif;

    &__img {
        @mixin wh 60px, 60px;

        margin-bottom: 30px;

        & > img {
            @mixin wh 100%, 100%;

            display: block;

            object-fit: contain;
        }
    }

    &__title {
        margin-bottom: 15px;

        text-transform: capitalize;
        font-weight: 600;
    }
    
    &__subtitle {
        font-size: $small;
        line-height: $medium;
    }
}