<!DOCTYPE html>
    <html lang="en">
    <head>
        <script src="../js/app.build.js"  defer></script>
        <link rel="stylesheet" href="../styles/main.css">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Web Development Project</title>
    </head>

    <body>
        
        <main class="main">
            <header class="header">
                <div class="header__wrapper">
                    <section class="header__logoGroup">
                        <a href="./index.html" title="Go Home page">
                            <article class="logo">
                                <img src="../image/logo.svg" alt="Logo Image" class="logo__img">
                            </article>
                        </a>
                    </section>

                    <nav class="header__nav">
                        <a href="#" class="header__navItem">home</a>
                        <a href="#" class="header__navItem">about</a>
                        <a href="#" class="header__navItem">servicing</a>
                        <a href="#" class="header__navItem">portfolio</a>
                        <a href="#" class="header__navItem">blog</a>
                        <a href="#" class="header__navItem">contact us</a>
                    </nav>
                </div>
            </header>

            <section class="container headerBackground">
                <div class="wrapper flexCenterColumn">
                    <article class="sectionIndexTitle">
                        <h1 class="sectionIndexTitle__title">Web Development Project</h1>
                        <p class="sectionIndexTitle__subtitle">Very suitable to support all web development projects</p>
                        <article class="sectionIndexTitle__btns">
                            <a href="#" class="materialBtn materialBtn_style1 mr-25" title="View Our Services">our services</a>
                            <a href="#" class="materialBtn materialBtn_style2" title="Go Hire">hire is now</a>
                        </article>
                    </article>

                    <button class="arrowSlideDown"></button>
                </div>
            </section>

            <section class="container container_pNormal no100vh">
                <div class="wrapper flexCenterColumn">
                    <article class="sectionTitle">
                        <h2 class="sectionTitle__title">our services</h2>
                        <p class="sectionTitle__subtitle">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Sunt provident dicta deleniti aperiam modi accusamus aut dolores ad maxime fugiat.
                        </p>
                    </article>

                    <article class="grid grid_style1">
                        <article class="verticalCard">
                            <section class="verticalCard__img">
                                <img src="../image/internet.png" alt="Internet icon">
                            </section>
                            <section class="verticalCard__content">
                                <h3 class="verticalCard__title">awesome icons</h3>
                                <p class="verticalCard__subtitle">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Reprehenderit consectetur quaerat sed delectus.
                                </p>
                            </section>
                        </article>

                        <article class="verticalCard">
                            <section class="verticalCard__img">
                                <img src="../image/transfer.png" alt="Transfer icon">
                            </section>
                            <section class="verticalCard__content">
                                <h3 class="verticalCard__title">one page</h3>
                                <p class="verticalCard__subtitle">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Reprehenderit consectetur quaerat sed delectus.
                                </p>
                            </section>
                        </article>

                        <article class="verticalCard">
                            <section class="verticalCard__img">
                                <img src="../image/head.png" alt="Head icon">
                            </section>
                            <section class="verticalCard__content">
                                <h3 class="verticalCard__title">fully responsive</h3>
                                <p class="verticalCard__subtitle">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Reprehenderit consectetur quaerat sed delectus.
                                </p>
                            </section>
                        </article>
                    </article>
                </div>
            </section>

            <section class="container container_pNormal lightGreenBackground no100vh">
                <div class="wrapper flexCenterColumn">
                    <article class="sectionTitle">
                        <h2 class="sectionTitle__title">our services</h2>
                        <p class="sectionTitle__subtitle">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Sunt provident dicta deleniti aperiam modi accusamus aut dolores ad maxime fugiat.
                        </p>
                    </article>

                    <article class="grid grid_style2">
                        <div>
                            <article class="materialCard">
                                <section class="materialCard__img">
                                    <img src="../image/smartphone-black.png" alt="Smartphone Icon">
                                </section>
                                <section class="materialCard__content">
                                    <h3 class="materialCard__title">research</h3>
                                    <p class="materialCard__subtitle">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Maxime natus in corporis
                                    </p>
                                </section>
                                    
                                <a href="#" class="materialCard__btn">read more</a>
                            </article>
                        </div>

                        <div>
                            <article class="materialCard">
                                <section class="materialCard__img">
                                    <img src="../image/smartphone-black.png" alt="Smartphone Icon">
                                </section>
                                <section class="materialCard__content">
                                    <h3 class="materialCard__title">research</h3>
                                    <p class="materialCard__subtitle">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Maxime natus in corporis
                                    </p>
                                </section>
                                    
                                <a href="#" class="materialCard__btn">read more</a>
                            </article>
                        </div>

                        <div>
                            <article class="materialCard">
                                <section class="materialCard__img">
                                    <img src="../image/smartphone-black.png" alt="Smartphone Icon">
                                </section>
                                <section class="materialCard__content">
                                    <h3 class="materialCard__title">research</h3>
                                    <p class="materialCard__subtitle">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Maxime natus in corporis
                                    </p>
                                </section>
                                    
                                <a href="#" class="materialCard__btn">read more</a>
                            </article>
                        </div>

                        <div>
                            <article class="materialCard">
                                <section class="materialCard__img">
                                    <img src="../image/smartphone-black.png" alt="Smartphone Icon">
                                </section>
                                <section class="materialCard__content">
                                    <h3 class="materialCard__title">research</h3>
                                    <p class="materialCard__subtitle">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Maxime natus in corporis
                                    </p>
                                </section>
                                    
                                <a href="#" class="materialCard__btn">read more</a>
                            </article>
                        </div>

                        <div>
                            <article class="materialCard">
                                <section class="materialCard__img">
                                    <img src="../image/smartphone-black.png" alt="Smartphone Icon">
                                </section>
                                <section class="materialCard__content">
                                    <h3 class="materialCard__title">research</h3>
                                    <p class="materialCard__subtitle">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Maxime natus in corporis
                                    </p>
                                </section>
                                    
                                <a href="#" class="materialCard__btn">read more</a>
                            </article>
                        </div>
                        
                        <div>
                            <article class="materialCard">
                                <section class="materialCard__img">
                                    <img src="../image/smartphone-black.png" alt="Smartphone Icon">
                                </section>
                                <section class="materialCard__content">
                                    <h3 class="materialCard__title">research</h3>
                                    <p class="materialCard__subtitle">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Maxime natus in corporis
                                    </p>
                                </section>
                                    
                                <a href="#" class="materialCard__btn">read more</a>
                            </article>
                        </div>
                    </article>
                </div>
            </section>

            <section class="container container_pNormal no100vh">
                <div class="wrapper flexCenterColumn">
                    <article class="sectionTitle">
                        <h2 class="sectionTitle__title">latest works</h2>
                        <p class="sectionTitle__subtitle">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium consequuntur, 
                            eum fugiat perferendis porro fuga consequatur animi ducimus. Eius, mollitia.
                        </p>
                    </article>

                    <article class="viewList">
                        <section class="viewList__menu">
                            <button class="borderBtn">all</button>
                            <button class="borderBtn">web design</button>
                            <button class="borderBtn">ui/ux design</button>    
                            <button class="borderBtn">mockups</button>    
                        </section>

                        <section class="grid grid_style3">
                            <div>
                                <a href="./">
                                    <article class="imageCard">
                                        <div class="imageCard__wrapper">
                                            <section class="imageCard__img">
                                                <img src="../image/bottle.png" alt="Bottle Image">
        
                                                <section class="imageCard__content">
                                                    <h3 class="imageCard__title">hand watch</h3>
                                                    <p class="imageCard__subtitle">ui/ux design</p>
                                                </section>
                                            </section>
                                        </div>
                                    </article>
                                </a>
                            </div>
    
                            <div>
                                <a href="./">
                                    <article class="imageCard">
                                        <div class="imageCard__wrapper">
                                            <section class="imageCard__img">
                                                <img src="../image/pocket.png" alt="Pocket Image">
        
                                                <section class="imageCard__content">
                                                    <h3 class="imageCard__title">Pockets</h3>
                                                    <p class="imageCard__subtitle">ui/ux design</p>
                                                </section>
                                            </section>
                                        </div>
                                    </article>
                                </a>
                            </div>
    
                            <div>
                                <a href="./">
                                    <article class="imageCard">
                                        <div class="imageCard__wrapper">
                                            <section class="imageCard__img">
                                                <img src="../image/boxes.png" alt="Boxes Image">
        
                                                <section class="imageCard__content">
                                                    <h3 class="imageCard__title">Boxes</h3>
                                                    <p class="imageCard__subtitle">ui/ux design</p>
                                                </section>
                                            </section>
                                        </div>
                                    </article>
                                </a>
                            </div>
    
                            <div>
                                <a href="./">
                                    <article class="imageCard">
                                        <div class="imageCard__wrapper">
                                            <section class="imageCard__img">
                                                <img src="../image/flask.png" alt="Flask Image">
        
                                                
                                                <section class="imageCard__content">
                                                    <h3 class="imageCard__title">Flask</h3>
                                                    <p class="imageCard__subtitle">ui/ux design</p>
                                                </section>
                                            </section>
                                        </div>
                                    </article>
                                </a>
                            </div>
    
                            <div>
                                <a href="./">
                                    <article class="imageCard">
                                        <div class="imageCard__wrapper">
                                            <section class="imageCard__img">
                                                <img src="../image/boxes.png" alt="boxes Image">
        
                                                <section class="imageCard__content">
                                                    <h3 class="imageCard__title">Boxes</h3>
                                                    <p class="imageCard__subtitle">ui/ux design</p>
                                                </section>
                                            </section>
                                        </div>
                                    </article>
                                </a>
                            </div>
    
                            <div>
                                <a href="./">
                                    <article class="imageCard">
                                        <div class="imageCard__wrapper">
                                            <section class="imageCard__img">
                                                <img src="../image/bottle.png" alt="Bottle Image">
        
                                                <section class="imageCard__content">
                                                    <h3 class="imageCard__title">Bottle</h3>
                                                    <p class="imageCard__subtitle">ui/ux design</p>
                                                </section>
                                            </section>
                                        </div>
                                    </article>
                                </a>
                            </div>
                        </section>

                        <button class="materialBtn materialBtn_style2 viewList__btn">view all</button>
                    </article>
                </div>
            </section>

            <section class="container container_pNormal no100vh grayBackground">
                <div class="wrapper flexCenterColumn">
                    <article class="sectionTitle">
                        <h2 class="sectionTitle__title">pricing plan</h2>
                        <p class="sectionTitle__subtitle">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde officiis explicabo 
                            libero blanditiis. Dolore, incidunt temporibus possimus cumque vitae doloribus?
                        </p>
                    </article>

                    <article class="grid grid_style2">
                        <div>
                            <article class="priceCard">
                                <section class="priceCard__price">
                                    <h2 class="priceCard__title">free trail</h2>
                                    <p class="priceCard__subtitle">
                                        <span class="vertical-top">$</span>
                                        <span class="f-xx-large">00</span>
                                        <span>per month</span>
                                    </p>                
                                </section>

                                <ul class="priceCard__desc">
                                   <li class="priceCard__descItem">30 free trial</li> 
                                   <li class="priceCard__descItem">5 free project</li> 
                                   <li class="priceCard__descItem">php 5 enabled</li> 
                                   <li class="priceCard__descItem">24/7 suports</li> 
                                </ul>

                                <a href="#" class="materialBtn materialBtn_styleBlack1 priceCard__btn">order now</a>
                            </article>
                        </div>

                        <div>
                            <article class="priceCard">
                                <section class="priceCard__price">
                                    <h2 class="priceCard__title">basic</h2>
                                    <p class="priceCard__subtitle">
                                        <span class="vertical-top">$</span>
                                        <span class="f-xx-large">50</span>
                                        <span>per month</span>
                                    </p>                
                                </section>

                                <ul class="priceCard__desc">
                                   <li class="priceCard__descItem">30 free trial</li> 
                                   <li class="priceCard__descItem">5 free project</li> 
                                   <li class="priceCard__descItem">php 5 enabled</li> 
                                   <li class="priceCard__descItem">24/7 suports</li> 
                                </ul>

                                <a href="#" class="materialBtn materialBtn_styleBlack1 priceCard__btn">order now</a>
                            </article>
                        </div>

                        <div>
                            <article class="priceCard">
                                <section class="priceCard__price">
                                    <h2 class="priceCard__title">ultimates</h2>
                                    <p class="priceCard__subtitle">
                                        <span class="vertical-top">$</span>
                                        <span class="f-xx-large">99</span>
                                        <span>per month</span>
                                    </p>                
                                </section>

                                <ul class="priceCard__desc">
                                   <li class="priceCard__descItem">30 free trial</li> 
                                   <li class="priceCard__descItem">5 free project</li> 
                                   <li class="priceCard__descItem">php 5 enabled</li> 
                                   <li class="priceCard__descItem">24/7 suports</li> 
                                </ul>

                                <a href="#" class="materialBtn materialBtn_styleBlack1 priceCard__btn">order now</a>
                            </article>
                        </div>
                    </article>
                </div>
            </section>

            <section class="container container_pNormal no100vh">
                <div class="wrapper flexCenterColumn">
                    <article class="sectionTitle">
                        <h2 class="sectionTitle__title">our team member</h2>
                        <p class="sectionTitle__subtitle">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde officiis explicabo 
                            libero blanditiis. Dolore, incidunt temporibus possimus cumque vitae doloribus?
                        </p>
                    </article>

                    <article class="grid grid_style2">
                        <div>
                            <article class="employeeCard">
                                <section class="employeeCard__img">
                                    <img src="../image/employeeOne.png" alt="Employee Jony">
                                </section>
                                
                                <section class="employeeCard__desc">
                                    <h3 class="employeeCard__title">john doe</h3>
                                    <p class="employeeCard__subtitle">general manager</p>
                                </section>

                                <section class="employeeCard__contacts">
                                    <a href="#" class="employeeCard__contactItem">
                                        <img src="../image/facebook.svg" alt="Facebook profile">
                                    </a>

                                    <a href="#" class="employeeCard__contactItem">
                                        <img src="../image/twitter.svg" alt="Twitter profile">
                                    </a>

                                    <a href="#" class="employeeCard__contactItem">
                                        <img src="../image/dribbble.svg" alt="Dribbble profile">
                                    </a>

                                    <a href="#" class="employeeCard__contactItem">
                                        <img src="../image/tumblr.svg" alt="Tumblr profile">
                                    </a>
                                </section>
                            </article>
                        </div>

                        <div>
                            <article class="employeeCard">
                                <section class="employeeCard__img">
                                    <img src="../image/employeeTwo.png" alt="Employee Jony">
                                </section>
                                
                                <section class="employeeCard__desc">
                                    <h3 class="employeeCard__title">alexa biru</h3>
                                    <p class="employeeCard__subtitle">office director</p>
                                </section>

                                <section class="employeeCard__contacts">
                                    <a href="#" class="employeeCard__contactItem">
                                        <img src="../image/facebook.svg" alt="Facebook profile">
                                    </a>

                                    <a href="#" class="employeeCard__contactItem">
                                        <img src="../image/twitter.svg" alt="Twitter profile">
                                    </a>

                                    <a href="#" class="employeeCard__contactItem">
                                        <img src="../image/dribbble.svg" alt="Dribbble profile">
                                    </a>

                                    <a href="#" class="employeeCard__contactItem">
                                        <img src="../image/tumblr.svg" alt="Tumblr profile">
                                    </a>
                                </section>
                            </article>
                        </div>

                        <div>
                            <article class="employeeCard">
                                <section class="employeeCard__img">
                                    <img src="../image/employeeThree.png" alt="Employee Jony">
                                </section>
                                
                                <section class="employeeCard__desc">
                                    <h3 class="employeeCard__title">ronobir sing</h3>
                                    <p class="employeeCard__subtitle">admin</p>
                                </section>

                                <section class="employeeCard__contacts">
                                    <a href="#" class="employeeCard__contactItem">
                                        <img src="../image/facebook.svg" alt="Facebook profile">
                                    </a>

                                    <a href="#" class="employeeCard__contactItem">
                                        <img src="../image/twitter.svg" alt="Twitter profile">
                                    </a>

                                    <a href="#" class="employeeCard__contactItem">
                                        <img src="../image/dribbble.svg" alt="Dribbble profile">
                                    </a>

                                    <a href="#" class="employeeCard__contactItem">
                                        <img src="../image/tumblr.svg" alt="Tumblr profile">
                                    </a>
                                </section>
                            </article>
                        </div>
                    </article>
                </div>
            </section>

            <section class="container container_pNormal no100vh lightGreenBackground">
                <div class="wrapper flexCenterColumn">
                    <article class="sectionTitle">
                        <h2 class="sectionTitle__title">blog</h2>
                        <p class="sectionTitle__subtitle">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde officiis explicabo 
                            libero blanditiis. Dolore, incidunt temporibus possimus cumque vitae doloribus?
                        </p>
                    </article>

                    <article class="grid grid_style4">
                        <article class="blogItem">
                            <section class="blogItem__img">
                                <img src="../image/words.png" alt="Image">
                            </section>

                            <section class="blogItem__desc">
                                <a href="#">
                                    <h2 class="blogItem__title">SEO quis vestibulum</h2>
                                </a>
                                <p class="blogItem__info">
                                    <a href="./" class="iconText">
                                        <img src="../image/calendar.svg" alt="Calendar icon" class="iconText__icon">
                                        <span class="iconText__text">14.0702017</span>
                                    </a>

                                    <a href="./" class="iconText">
                                        <img src="../image/file.svg" alt="Calendar icon" class="iconText__icon">
                                        <span class="iconText__text">Development</span>
                                    </a>
                                </p>
                                <p class="blogItem__subtitle">
                                    Lorem ipsum dolor sit amet consectetur 
                                    adipisicing elit. Inventore veniam recusandae quasi suscipit sit 
                                    officiis nulla mollitia nisi expedita id.
                                    adipisicing elit. Inventore veniam recusandae quasi suscipit sit 
                                    officiis nulla mollitia nisi...
                                </p>
                            </section>
                        </article>

                        <article class="blogItem">
                            <section class="blogItem__img">
                                <img src="../image/appleDesc.png" alt="Image">
                            </section>

                            <section class="blogItem__desc">
                                <a href="#">
                                    <h2 class="blogItem__title">SEO quis vestibulum</h2>
                                </a>
                                <p class="blogItem__info">
                                    <a href="./" class="iconText">
                                        <img src="../image/calendar.svg" alt="Calendar icon" class="iconText__icon">
                                        <span class="iconText__text">14.0702017</span>
                                    </a>

                                    <a href="./" class="iconText">
                                        <img src="../image/file.svg" alt="Calendar icon" class="iconText__icon">
                                        <span class="iconText__text">Development</span>
                                    </a>
                                </p>
                                <p class="blogItem__subtitle">
                                    Lorem ipsum dolor sit amet consectetur 
                                    adipisicing elit. Inventore veniam recusandae quasi suscipit sit 
                                    officiis nulla mollitia nisi expedita id.
                                    adipisicing elit. Inventore veniam recusandae quasi suscipit sit 
                                    officiis nulla mollitia nisi...
                                </p>
                            </section>
                        </article>

                        <article class="blogItem">
                            <section class="blogItem__img">
                                <img src="../image/appleDesc2.png" alt="Image">
                            </section>

                            <section class="blogItem__desc">
                                <a href="#">
                                    <h2 class="blogItem__title">SEO quis vestibulum</h2>
                                </a>
                                <p class="blogItem__info">
                                    <a href="./" class="iconText">
                                        <img src="../image/calendar.svg" alt="Calendar icon" class="iconText__icon">
                                        <span class="iconText__text">14.0702017</span>
                                    </a>

                                    <a href="./" class="iconText">
                                        <img src="../image/file.svg" alt="Calendar icon" class="iconText__icon">
                                        <span class="iconText__text">Development</span>
                                    </a>
                                </p>
                                <p class="blogItem__subtitle">
                                    Lorem ipsum dolor sit amet consectetur 
                                    adipisicing elit. Inventore veniam recusandae quasi suscipit sit 
                                    officiis nulla mollitia nisi expedita id.
                                    adipisicing elit. Inventore veniam recusandae quasi suscipit sit 
                                    officiis nulla mollitia nisi...
                                </p>
                            </section>
                        </article>
                    </article>

                    <button class="materialBtn materialBtn_style2 mt-110">view more</button>
                </div>
            </section>

            <section class="container container_pNormal no100vh humansBackground">
                <div class="wrapper flexCenterColumn">
                    <article class="sectionTitle colorWhite">
                        <h2 class="sectionTitle__title">pricing plan</h2>
                        <p class="sectionTitle__subtitle">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde officiis explicabo 
                            libero blanditiis. Dolore, incidunt temporibus possimus cumque vitae doloribus?
                        </p>
                    </article>

                    <article class="grid grid_style1">
                        <div>
                            <article class="iconCircle">
                                <section class="iconCircle__img">
                                    <img src="../image/addres.png" alt="Addres icon">
                                </section>

                                <section class="iconCircle__text">
                                    <a href="">Nobinagar savar,Dhaka Bangladesh</a>
                                </section>
                            </article>
                        </div>

                        <div>
                            <article class="iconCircle">
                                <section class="iconCircle__img">
                                    <img src="../image/phone-call.png" alt="Phone icon">
                                </section>

                                <section class="iconCircle__text">
                                    <a href="tel:+79991009090">+79991009090</a>
                                    <a href="">+79991009090</a>
                                </section>
                            </article>
                        </div>

                        <div>
                            <article class="iconCircle">
                                <section class="iconCircle__img">
                                    <img src="../image/mail.png" alt="Mail icon">
                                </section>

                                <section class="iconCircle__text">
                                    <a href="">example@mail.ru</a>
                                    <a href="">example@mail.ru</a>
                                </section>
                            </article>
                        </div>
                    </article>

                    <form class="materialForm mt-60">
                        <fieldset class="materialForm__inputs">
                            <input type="text" placeholder="Your Name" class="materialForm__input">
                            <input type="email" placeholder="Your Email" class="materialForm__input">
                        </fieldset>

                        <fieldset class="materialForm__area">
                            <textarea rows="10" placeholder="Write Message" class="materialForm__textarea"></textarea>
                            <button class="materialBtn materialForm__btn">send</button>
                        </fieldset>
                    </form>
                </div>
            </section>

            <footer class="footer">
                <div class="wrapper">
                    <p> all rights reserved © 2017</p>
                </div>
            </footer>
        </main>

    </body>
</html>