<!DOCTYPE html>
    <html lang="en">
    <head>
        <link rel="stylesheet" href="../styles/main.css">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Web Development Project</title>
    </head>

    <body>
        
        <main>
            <header class="header">
                <div class="wrapper wrapper_header">
                    <section class="header__logoGroup">
                        <a href="./index.html" title="Go Home page">
                            <article class="logo">
                                <img src="../image/logo.svg" alt="Logo Image" class="logo__img">
                            </article>
                        </a>
                    </section>

                    <nav class="header__nav">
                        <a href="#" class="header__navItem">home</a>
                        <a href="#" class="header__navItem">about</a>
                        <a href="#" class="header__navItem">servicing</a>
                        <a href="#" class="header__navItem">portfolio</a>
                        <a href="#" class="header__navItem">blog</a>
                        <a href="#" class="header__navItem">contact us</a>
                    </nav>
                </div>
            </header>

            <section class="container headerBackground">
                <div class="wrapper flexCenterColumn">
                    <article class="sectionIndexTitle">
                        <h1 class="sectionIndexTitle__title">Web Development Project</h1>
                        <p class="sectionIndexTitle__subtitle">Very suitable to support all web development projects</p>
                        <article class="sectionIndexTitle__btns">
                            <a href="#" class="materialBtn materialBtn_style1 mr-25" title="View Our Services">our services</a>
                            <a href="#" class="materialBtn materialBtn_style2" title="Go Hire">hire is now</a>
                        </article>
                        <button class="sectionIndexTitle__arrow"></button>
                    </article>
                </div>
            </section>

            <section class="container container_pNormal no100vh">
                <div class="wrapper flexCenterColumn">
                    <article class="sectionTitle">
                        <h2 class="sectionTitle__title">our services</h2>
                        <p class="sectionTitle__subtitle">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Sunt provident dicta deleniti aperiam modi accusamus aut dolores ad maxime fugiat.
                        </p>
                    </article>

                    <article class="grid grid_style1">
                        <article class="verticalCard">
                            <section class="verticalCard__img">
                                <img src="../image/internet.png" alt="Internet icon">
                            </section>
                            <section class="verticalCard__content">
                                <h3 class="verticalCard__title">awesome icons</h3>
                                <p class="verticalCard__subtitle">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Reprehenderit consectetur quaerat sed delectus.
                                </p>
                            </section>
                        </article>

                        <article class="verticalCard">
                            <section class="verticalCard__img">
                                <img src="../image/transfer.png" alt="Transfer icon">
                            </section>
                            <section class="verticalCard__content">
                                <h3 class="verticalCard__title">one page</h3>
                                <p class="verticalCard__subtitle">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Reprehenderit consectetur quaerat sed delectus.
                                </p>
                            </section>
                        </article>

                        <article class="verticalCard">
                            <section class="verticalCard__img">
                                <img src="../image/head.png" alt="Head icon">
                            </section>
                            <section class="verticalCard__content">
                                <h3 class="verticalCard__title">fully responsive</h3>
                                <p class="verticalCard__subtitle">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Reprehenderit consectetur quaerat sed delectus.
                                </p>
                            </section>
                        </article>
                    </article>
                </div>
            </section>

            <section class="container container_pNormal lightGreenBackground no100vh">
                <div class="wrapper flexCenterColumn">
                    <article class="sectionTitle">
                        <h2 class="sectionTitle__title">our services</h2>
                        <p class="sectionTitle__subtitle">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Sunt provident dicta deleniti aperiam modi accusamus aut dolores ad maxime fugiat.
                        </p>
                    </article>

                    <article class="grid grid_style2">
                        <div>
                            <article class="materialCard">
                                <section class="materialCard__img">
                                    <img src="../image/smartphone-black.png" alt="Smartphone Icon">
                                </section>
                                <section class="materialCard__content">
                                    <h3 class="materialCard__title">research</h3>
                                    <p class="materialCard__subtitle">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Maxime natus in corporis
                                    </p>
                                </section>
                                    
                                <a href="#" class="materialCard__btn">read more</a>
                            </article>
                        </div>

                        <div>
                            <article class="materialCard">
                                <section class="materialCard__img">
                                    <img src="../image/smartphone-black.png" alt="Smartphone Icon">
                                </section>
                                <section class="materialCard__content">
                                    <h3 class="materialCard__title">research</h3>
                                    <p class="materialCard__subtitle">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Maxime natus in corporis
                                    </p>
                                </section>
                                    
                                <a href="#" class="materialCard__btn">read more</a>
                            </article>
                        </div>

                        <div>
                            <article class="materialCard">
                                <section class="materialCard__img">
                                    <img src="../image/smartphone-black.png" alt="Smartphone Icon">
                                </section>
                                <section class="materialCard__content">
                                    <h3 class="materialCard__title">research</h3>
                                    <p class="materialCard__subtitle">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Maxime natus in corporis
                                    </p>
                                </section>
                                    
                                <a href="#" class="materialCard__btn">read more</a>
                            </article>
                        </div>

                        <div>
                            <article class="materialCard">
                                <section class="materialCard__img">
                                    <img src="../image/smartphone-black.png" alt="Smartphone Icon">
                                </section>
                                <section class="materialCard__content">
                                    <h3 class="materialCard__title">research</h3>
                                    <p class="materialCard__subtitle">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Maxime natus in corporis
                                    </p>
                                </section>
                                    
                                <a href="#" class="materialCard__btn">read more</a>
                            </article>
                        </div>

                        <div>
                            <article class="materialCard">
                                <section class="materialCard__img">
                                    <img src="../image/smartphone-black.png" alt="Smartphone Icon">
                                </section>
                                <section class="materialCard__content">
                                    <h3 class="materialCard__title">research</h3>
                                    <p class="materialCard__subtitle">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Maxime natus in corporis
                                    </p>
                                </section>
                                    
                                <a href="#" class="materialCard__btn">read more</a>
                            </article>
                        </div>
                        
                        <div>
                            <article class="materialCard">
                                <section class="materialCard__img">
                                    <img src="../image/smartphone-black.png" alt="Smartphone Icon">
                                </section>
                                <section class="materialCard__content">
                                    <h3 class="materialCard__title">research</h3>
                                    <p class="materialCard__subtitle">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                        Maxime natus in corporis
                                    </p>
                                </section>
                                    
                                <a href="#" class="materialCard__btn">read more</a>
                            </article>
                        </div>
                    </article>
                </div>
            </section>

            <footer class="footer"></footer>
        </main>

    </body>
</html>