/* Libs */

@import './libs/mixins';
@import './libs/variables';
@import 'normalize.css';
@import './libs/myNormalize';
@import './libs/animations.css';


/* Fonts */

@import '../fonts/OpenSans/openSansFont';
@import '../fonts/Roboto/robotoFont';


/* Components */

@import './components/materialForm';
@import './components/iconCircle';
@import './components/iconText';
@import './components/blogItem';
@import './components/employeeCard';
@import './components/priceCard';
@import './components/arrowSlideDown';
@import './components/borderBtn';
@import './components/viewList';
@import './components/imageCard';
@import './components/materialCard';
@import './components/sectionTitle';
@import './components/grid';
@import './components/verticalCard';
@import './components/logo';
@import './components/materialBtn';
@import './components/sectionIndexTitle';
@import './components/header';
@import './components/container';
@import './components/footer';
@import './components/main';
@import './components/wrapper';


/* Modifications */

@import './modification/modification'
