/* Flex & Grid */

.flexCenterSpace {
    @mixin flex-box row, space-between, center;
}

.flexCenterColumn {
    @mixin flex-box column, center, center;

    @media (max-width: $mobile-point) {
        flex-direction: column;
    }
}


/* Backgrounds */

.headerBackground {
    background: center/cover no-repeat url('../image/header_background.png');
}

.lightGreenBackground {
    background-color: $light-green;
}


/* Width & Height */

.no100vh {
    height: auto !important;
    min-height: auto !important;   
}


/* Margins */

.mr-25 {
    margin-right: 25px;
}
