/* Flex & Grid */

.flexCenterSpace {
    @mixin flex-box row, space-between, center;
}

.flexCenterColumn {
    @mixin flex-box column, center, center;

    @media (max-width: $mobile-point) {
        flex-direction: column;
    }
}


/* Backgrounds */

.headerBackground {
    background: center/cover no-repeat url('../image/header_background.png');
}

.lightGreenBackground {
    background-color: $light-green;
}

.grayBackground {
    background-color: $gray;
}

.humansBackground {
    background: center/cover no-repeat url('../image/footerBG.png');
}

/* Width & Height */

.no100vh {
    height: auto !important;
    min-height: auto !important;   
}

.w100 {
    width: 100%;
}


/* Margins */

.mr-25 {
    margin-right: 25px;
}

.mt-110 {
    margin-top: 110px;
}

.mt-60 {
    margin-top: 60px;
}

/* Sizes */

.f-xx-large {
    font-size: $xx-large;
}

/* Text Format */

.vertical-top {
    vertical-align: top;
}

.colorWhite {
    color: $white;
}